<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
  </head>
  <body>
    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Cart</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td>
              <img src="" style="height: 200px" />
            </td>
            <td></td>
            <td></td>
          </tr>     
       </tbody>
      </table>
    </div>
  </body>
</html>
