<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart page</title>
    {% load static %}
    {% load custom_filters %}

    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
  </head>
  <body>
    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Cart</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {{ cart|json_script:"cart-data" }} 
          {% for item in cart %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
              <img src="{{ item.shoe_image }}" style="height: 200px" />
            </td>
            <td>{{ item.shoe_name }}</td>
            <td>{{ item.shoe_price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.shoe_price|mul:item.quantity }}</td>
          </tr>  
          {% endfor %}   
       </tbody>
      </table>
    </div>
  </body>
</html>
